node_modules/
resource/videos/*
resource/files/*
resource/videos/hls/*
resource/publicVideos/*
resource/images/*
/media/

!resource/videos/.gitkeep
!resource/videos/611d19f7-ac13-4a21-854d-ec4bcacb6350.mp4_0
!resource/videos/611d19f7-ac13-4a21-854d-ec4bcacb6350.mp4_1
!resource/videos/611d19f7-ac13-4a21-854d-ec4bcacb6350.mp4.m3u8
!resource/videos/611d19f7-ac13-4a21-854d-ec4bcacb6350.mp4.keyinfo
!resource/videos/611d19f7-ac13-4a21-854d-ec4bcacb6350.mp4.key


!resource/files/.gitkeep
!resource/videos/hls/.gitkeep
!resource/publicVideos/.gitkeep
!resource/publicVideos/58d656da-408f-4775-9499-11e1ac037605.mp4_0
!resource/publicVideos/58d656da-408f-4775-9499-11e1ac037605.mp4_1
!resource/publicVideos/58d656da-408f-4775-9499-11e1ac037605.mp4.key
!resource/publicVideos/58d656da-408f-4775-9499-11e1ac037605.mp4.keyinfo
!resource/publicVideos/58d656da-408f-4775-9499-11e1ac037605.mp4.m3u8




!resource/images/.gitkeep
!resource/images/download.jpg
!resource/images/Logo.png
!resource/images/img00.png
!resource/images/img03.png
!resource/images/img07.png
!resource/images/img10.jpg
!resource/images/img13.png
!resource/images/img15.png
!resource/images/img17.png
!resource/images/img19.png
!resource/images/img44.png
!resource/images/img56.png
!resource/images/online_course-750x375.jpg
!resource/images/optimized_large_thumb_stage.jpg
!resource/images/portrait-of-a-young_1.png
!resource/images/portrait-of-a-young_2.png
!resource/images/portrait-of-a-young_3.png
!resource/images/portrait-of-a-young_4.png
!resource/images/portrait-of-a-young.png
!resource/images/Screenshot-2022-02-04-at-16.14.46.png

!resource/videos/hls
.env
