node_modules/
resource/videos/*
resource/files/*
resource/videos/hls/*
resource/images/*
/media/

!resource/videos/.gitkeep
!resource/files/.gitkeep
!resource/videos/hls/.gitkeep
!resource/images/.gitkeep
!resource/videos/hls
.env
